.keyboard-container {
  position: absolute;
  bottom: 0;

  display: grid;

  padding: calc( var(--padding) * 2);
  box-sizing: border-box;

  grid-template-columns: repeat(5, 1fr);
  gap: var(--padding);
  width: 100%;
  transform: translateY(100%);
  transition-duration: var(--animation-out);
}

.keyboard-container.active {
  transform: translateY(0%);
}

.keyboard-item {
  
  width: 100%;
  min-height: 40px;

  font-size: 18px;
  text-align: center;
  justify-content: center;

  border-radius: var(--radius);

  cursor: pointer;

  border: none;
  color: #000000;
  background-color: #ffffff;
  box-shadow: var(--shadow);

  transition-duration: var(--animation-out);
}

.keyboard-item:hover {
  background-color: var(--accent);
  color: #fff;
  
  transition-duration: var(--animation-in);
}

.keyboard-item:nth-child(1),
.keyboard-item:nth-child(2),
.keyboard-item:nth-child(3),
.keyboard-item:nth-child(4),
.keyboard-item:nth-child(5) {
  margin-bottom: calc( var(--padding) * 2 );
}